<div id="price-outer-container">
    <div id="price-partial-container">
        <div>
            <div id="price-title">Price</div>
            <div>
                <input type="number" id="price-input" value="@ViewBag.CurrentPrice" />
                <button id="price-button" onclick="changePrice()">Change</button>
            </div>
        </div>
    </div>
</div>
