
<div id="title-reports">Daily Reports</div>
<div id="date-container">
    <div id="selected-date">@ViewBag.CurrentDate</div>
    <span class="datepicker-toggle">
        <span class="datepicker-toggle-button"><i class="fa-solid fa-calendar-days" style="color: rgb(24,12,36);"></i></span>
        <input type="date" class="datepicker-input" id="calendar" onchange="changeDateText()" value="@ViewBag.CurrentDate">
    </span>
</div>

<div id="table-container">
    <table id="table-reports" cellspacing="0">
        <thead>
            <tr>
                <td>Date</td>
                <td>Price</td>
                <td>Group</td>
                <td>People</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>