<div id="title">
    User Management
</div>
<div id="buttons-container">
    <div id="right-side">
        <div id="add-user-button" onclick="goToActionAddUser()">
            <i class="fa-solid fa-users fa-4x"></i>
            <p>Add user</p>
        </div>
    </div>
    <div id="left-side">
        <div id="manage-user-button" onclick="goToActionManageUsers()">
            <i class="fa-solid fa-wrench fa-4x"></i>
            <p>Manage users</p>
        </div>
    </div>
</div>