
<div id="title-reports">Yearly Reports</div>

<div id="table-container">
    <table id="table-reports" cellspacing="0">
        <thead>
            <tr>
                <td>Year</td>
                <td>Sum</td>
                <td>Group</td>
                <td>People</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
